html {
  --background-color: #221e21;
  background-color: var(--background-color);
  --color-text-dark: #706d70;
  --color-text: #fefefe;
}

body {
  color: var(--color-text);
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
}

a {
  color: var(--color-text);
}

p {
  color: var(--color-text);
}



.link-decoration::before {
    content: "▍";
    background: linear-gradient(#e3008f, #d93819);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: all;
  }

.tag {
  font-weight: bold;
  color: var(--background-color);
  font-style: italic;
  background-color: var(--color-text);
  padding: 3px 8px;
  border-radius: 100px;
}